<section class="gallery-module">
    <div class="container">
        <div class="gallery-head">
            <p class="small-head">GALLERY</p>
            <p class="big-head">Special Moments</p>
            <hr class="heading-divider">
        </div>

        <div class="gallery-images">
            <app-gallery-images></app-gallery-images>
            <app-gallery-images></app-gallery-images>
            <app-gallery-images></app-gallery-images>
            <app-gallery-images></app-gallery-images>
        </div>
    </div>
</section>