<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 new-card">
      <div class="card-body">
        <h5 class="card-title">Software Testing Specialist</h5>
        <p class="card-text">Manual Testing , Java foundations, Mobile Testing, Automation Testing, Selenium IDE,
          Selenium Web driver, Selenium Advanced</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 4 Months, 5 Days a Week, 1.5 - 2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>31500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 29500</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">MEA(R)N Stack Web Development Expert - Angular & React</h5>
        <p class="card-text">HTML, CSS, Bootstrap, Javascript, Typescript, Git, Angular, React.js, Node.js, Express.js & MongoDB</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 5 Months, 5 Days a Week, 1.5-2 Hours/day</p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>41500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 39500</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 new-card">
      <div class="card-body">
        <h5 class="card-title">Data Science - ML - AI - Big Data with Cloud & TABLEAU</h5>
        <p class="card-text">Python, Hadoop, Spark, Data Analytics, Linear Algebra, Statistics, Probability Concepts, Machine Learning, Deep Learning</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Mar 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 7 Months, 6 Days a Week, 1.5-2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>61000</p>
        <p class="card-text"><span class="text-head"> Online :</span> 56000</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Python Django - Angular- Full Stack Web Development Expert</h5>
        <p class="card-text">Core Python, Basics of Programming, Unix Commands, Advanced Python, Django Framework, REST API, Git, Angular, Web</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 6 Months, 5 Days a Week, 1.5-2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>31500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 29500</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 new-card">
      <div class="card-body">
        <h5 class="card-title">Asp.net MVC with Angular - Full Stack</h5>
        <p class="card-text">C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 28th 2023 (1:00 PM- 03:00 PM)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 4 Months, 5 Days a Week, 2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>29500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 25000</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 new-card">
      <div class="card-body">
        <h5 class="card-title">Android Developer Expert Training In Kochi- Flutter</h5>
        <p class="card-text">Dart, Flutter Introduction to Android, Android Studio, AndroidManifest.xml, Directories, Layout Designing, Basics & Intents, UI</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 4 Months, 5 Days a Week, 1.5 - 2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>31500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 29500</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Python Django - Angular- Full Stack Web Development Expert</h5>
        <p class="card-text">Core Python, Basics of Programming, Unix Commands, Advanced Python, Django Framework, REST API, Git, Angular, Web</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 6 Months, 5 Days a Week, 1.5-2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>31500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 29500</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Asp.net MVC with Angular - Full Stack</h5>
        <p class="card-text">C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 28th 2023 (1:00 PM- 03:00 PM)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 4 Months, 5 Days a Week, 2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>29500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 25000</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 new-card">
      <div class="card-body">
        <h5 class="card-title">Android Developer Expert Training In Kochi- Flutter</h5>
        <p class="card-text">Dart, Flutter Introduction to Android, Android Studio, AndroidManifest.xml, Directories, Layout Designing, Basics & Intents, UI</p>
        <p class="card-text"><span class="text-head"> Batch : </span>Feb 15th 2023 (Offline & Online)</p>
        <p class="card-text"><span class="text-head">Duration :</span> 4 Months, 5 Days a Week, 1.5 - 2 Hours/day
        </p>
        <p class="card-text text-head">Course Fee:</p>
        <p class="card-text"><span class="text-head"> Offline : </span>31500</p>
        <p class="card-text"><span class="text-head"> Online :</span> 29500</p>
      </div>
    </div>
  </div>
</div>