<div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal1.jpg" alt="">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal2.jpg" alt="">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal3.jpg" alt="">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal4.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal3.jpg" alt="">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal4.jpg" alt="">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal1.jpg" alt="">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <img class="gal-img" src="../../../assets/images/gal2.jpg" alt="">
    </div>
</div>