@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.login-module{
    background-color: $color-primary;
    min-height: 520px;
    height: 100%;
    .col-4col-lg-4, .col-12{
        margin-top: 100px;
    }
    .login-box{
        background-color: #fff3;
        text-align: center;
        padding: 80px $spacer-0 $spacer-3;
        position: relative;
        border-radius: 25px;
        border: 1px solid $color-white;

        &::after{
            content: '';
            position: absolute;
            top: -17%;
            left: 35%;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid $color-white;
            background-image: url('../../../assets/images/profile.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .input-group{
        padding: $spacer-1 50px;
    }
    .input-group-text{
        border-radius: 0;
        color: $color-primary;
    }
    .form-control{
        border-radius: 0;
        color: $color-primary;

        &:focus{
            box-shadow: none;
            border-color: $color-white;
        }
    }
    .login-btn{
        background-color: $color-primary;
        color: $color-contrasting;
        padding: $spacer-md $spacer-4;
        &:hover{
            background-color: $color-brown;
            color: $color-primary;
        }
    }
}

@include tablet{
    .login-module{
        .login-box{
            &::after{
                left: 40%;
            }
        }
    }
}