<section class="home-module">
    <div class="container">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row banner align-items-center">
                        <div class="col-lg-6 col-12 banner-content">
                            <p class="small-head">LEARN SOFTWARE</p>
                            <p class="big-head">Getting a Software Job is So Easy Now</p>
                            <p class="banner-text">Learn programming from Kerala's most trusted software training
                                company with
                                the highest placement record. Enroll in software courses and internship programs in
                                Python, Flutter,
                                Angular and PHP to start your career.</p>

                            <a class="course-link" routerLink="courses" routerLinkActive="active"><i class="fa-regular fa-comment fa-flip-horizontal px-2"></i> Our Courses</a>
                        </div>
                        <div class="col-lg-6 col-12">
                            <img src="../../assets/images/img1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row banner align-items-center">
                        <div class="col-lg-6 col-12">
                            <img src="../../assets/images/img2.png" class="w-100" alt="">
                        </div>
                        <div class="col-lg-6 col-12 banner-content">
                            <p class="small-head">THE INDUSTRIAL BEST</p>
                            <p class="big-head">Placement Service</p>
                            <p class="banner-text">Provide 100% placements to students those who enrol for our
                                specialised courses. Our Placement assistance starts with Resume preparation, Mock
                                Interviews by real working professionals, Aptitude test training & Interviews.</p>

                            <a class="course-link" routerLink="courses" routerLinkActive="active"><i class="fa-regular fa-comment fa-flip-horizontal px-2"></i> Our Courses</a>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row banner align-items-center">
                        <div class="col-lg-6 col-12 banner-content">
                            <p class="small-head">LEARN FROM PROFESSIONALS</p>
                            <p class="big-head">Taught by industry experts</p>
                            <p class="banner-text">Advanced level software training like Big Data Training, Hadoop
                                Training, Data Science Training, Python Training, Machine Learning Training, Selenium
                                Training.</p>

                            <a class="course-link" routerLink="courses" routerLinkActive="active"><i class="fa-regular fa-comment fa-flip-horizontal px-2"></i> Our Courses</a>
                        </div>
                        <div class="col-lg-6 col-12">
                            <img src="../../assets/images/img3.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>