<section class="courses-module">
  <div class="container">
    <div class="course-content">
      <img class="course-img" src="../../../assets/images/placement.jpg" alt="">
      <p class="small-head">COURSES</p>
      <p class="course-head">Our 100% Job Oriented Training Programs</p>
      <hr class="heading-divider">
      <p class="course-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, omnis culpa
        reprehenderit alias enim
        numquam placeat quae dolorum dolore recusandae veniam, dignissimos nostrum, ipsum adipisci iusto mollitia? Illo,
        odio autem.</p>
    </div>
  <app-course-details></app-course-details>    
  </div>
</section>